.home-page {
  .user-list {
    display: flex;
    width: 80%;
    overflow: scroll;
    padding: 10px 0;
    flex-wrap: wrap;
    align-items: center;
    .user-avatar {
      margin-right: 10px;
      border: 1px solid $blue;
    }
    .count {
      display: inline-block;
      line-height: 100%;
    }
  }

  .graph {
    width: 80%;
    // height: 35%;
    min-height: 240px;
  }
}
